/* Base Application Styles */
body {
  color: #fff;
  background: #222;
}

.timer {
  position: relative;
  left: 448px;
  top: -10px;
  
  display: block;
  background-color: #f71727;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f71727), to(#e71727));
  background-image: -webkit-linear-gradient(top, #f71727, #e71727); 
  background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7); 
  color: #eeeeee;
  width: 72px;
  height: 72px;
  text-align: center;
  line-height: 72px;
  border-radius: 50%;
  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
}

.win {
  position: relative;
  top: -200px;
  left: 300px;
  z-index: 100;
  transform: rotateZ(10deg);
}

.lose {
  position: relative;
  top: -200px;
  left: 360px;
  z-index: 100;
  transform: rotateZ(10deg);
}

.index img {
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}

.index {
  outline: none;
  min-height: 400px;
  background-size: 980px 400px;
  background-repeat: no-repeat;
}

table.faces {
  margin-top: -30px;
  margin-left: 20px;
}

/*
table.faces, table.faces th, table.faces td {  
  border: 1px solid white;
}
*/

tr.face-top, tr.face-top td {
  height: 100px;
  vertical-align: bottom;
}
tr.face-mid, tr.face-mid td {
  height: 78px;
}
tr.face-bot, tr.face-bot td {
  height: 100px;
  vertical-align: top;
}

.row-start {
  width: 180px;
  transform: rotateY(45deg) skewY(-10deg) translateX(36px) translateY(22px);
}

.row-end {
  width: 180px;
  transform: rotateY(315deg) skewY(10deg) translateX(-36px) translateY(22px);
}

.selection {
  outline: 4px solid blue;
  outline-offset: -4px;
}

.Three-Dee {
  font-family: Graduate ;
  line-height: 1em;
  color: #f01657;
  font-size: 100px;
  text-shadow:0px 0px 0 rgb(223,5,70),1px 1px 0 rgb(215,-3,62),2px 2px 0 rgb(206,-12,53),3px 3px 0 rgb(197,-21,44),4px 4px 0 rgb(189,-29,36),5px 5px 0 rgb(180,-38,27),6px 6px 0 rgb(171,-47,18),7px 7px 0 rgb(162,-56,9),8px 8px 0 rgb(154,-64,1),9px 9px 0 rgb(145,-73,-8), 10px 10px 0 rgb(136,-82,-17),11px 11px 10px rgba(0,0,0,0.55),11px 11px 1px rgba(0,0,0,0.5),0px 0px 10px rgba(0,0,0,.2);
}
