.splash-component {
  height: 100%;
  min-height: 400px;
  outline: none;
  
}

.diff-selected {
  outline: 4px solid blue;
  outline-offset: -4px;
}

.difficulty {
  width: 60px;
}

@keyframes slideright {
  0% { left: -4000px; }
  30% { left: 280px; }
  32% { left: 280px; transform: scale(0.9); }
  34% { left: 280px; transform: scale(1.1); }
  36% { left: 280px; transform: scale(0.9); }
  38% { left: 280px; transform: scale(1.1); }
  40% { left: 280px; transform: scale(0.9); }
  42% { left: 280px; transform: scale(1.1); }
  44% { left: 280px; transform: scale(0.9); }
  46% { left: 280px; transform: scale(1.1); }
  48% { left: 280px; transform: scale(0.9); }
  50% { left: 280px; transform: scale(1.1); }
  52% { left: 280px; transform: scale(0.9); }
  54% { left: 280px; transform: scale(1.1); }
  56% { left: 280px; transform: scale(0.9); }
  58% { left: 280px; transform: scale(1.1); }
  60% { left: 280px; transform: scale(1); }
  90% { left: 280px; transform: scale(1); }
  99% { left: 280px; }
  100% { left: -4000px; transform: scale(0); }
}

@keyframes slideleft {
  0% { left: 4000px; }
  30% { left: 340px; }
  32% { left: 340px; transform: scale(0.9); }
  34% { left: 340px; transform: scale(1.1); }
  36% { left: 340px; transform: scale(0.9); }
  38% { left: 340px; transform: scale(1.1); }
  40% { left: 340px; transform: scale(0.9); }
  42% { left: 340px; transform: scale(1.1); }
  44% { left: 340px; transform: scale(0.9); }
  46% { left: 340px; transform: scale(1.1); }
  48% { left: 340px; transform: scale(0.9); }
  50% { left: 340px; transform: scale(1.1); }
  52% { left: 340px; transform: scale(0.9); }
  54% { left: 340px; transform: scale(1.1); }
  56% { left: 340px; transform: scale(0.9); }
  58% { left: 340px; transform: scale(1.1); }
  60% { left: 340px; transform: scale(1); }
  90% { left: 340px; transform: scale(1); }
  99% { left: 340px; }
  100% { left: 4000px; transform: scale(0); }
}

.title-mugshot {
  display: block;
  position: absolute;
  left: -4000px;
  top: 80px;
  z-index: 100;
  animation-name: slideright;
  animation-duration: 10s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}

.title-mixup {
  display: block;
  position: absolute;
  left: 4000px;
  top: 180px;
  z-index: 100;
  animation-name: slideleft;
  animation-duration: 10s;
  animation-delay: 0s;  
  animation-iteration-count: infinite;
  
}
